<% deals.forEach(function(deal){ %>
<div>
	<a href="<%= deal.url %>" data-deal-id="<%= deal._id.valueOf() %>" target="_blank">
	  <img src="<%= deal.imageUrl %>"/>
	  <span><%= deal.name %></span>
	</a>
</div>
<% }) %>
